################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChangeScreenResolutionSolution/ChangeScreenResolution/bin/Debug
/ChangeScreenResolutionSolution/ChangeScreenResolution/obj/Debug
/ChangeScreenResolutionSolution/ChangeScreenResolution/obj/Debug
*.nupkg