<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="LoggingEnabled" value="False"/>
    <!-- SendGrid Email Settings -->
    <add key="EmailEnabled" value="false"/>
    <add key="EmailFrom" value="changescreenresolution@test.com" />
    <add key="EmailTo" value="you@test.com"/>
    <add key="SmtpUser" value="getfromsendgrid" />
    <add key="SmtpPassword" value="getfromsendgrid" />
  </appSettings>
</configuration>